<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="Warn"
  internalLogFile="internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>    
  </extensions>
  <targets>
    <target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log"
            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}${newline}==============================================================${newline}" />
    <target xsi:type="Database" name="datebase">
      <dbProvider>
        Npgsql.NpgsqlConnection,Npgsql,Version=4.1.2.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7
      </dbProvider>
      <connectionString>
        Server=192.168.1.250;Port=5432;User Id=nlog;Password=nlog;Database=nlog;
      </connectionString>
      <commandText>
        insert into system_logging(log_date,log_lovel,log_logger,log_message，log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace) 
          values(@time_stamp, @level, @logger, @message,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile,datebase"/>
  </rules>
</nlog>